[user]
	name = YUJI takahashi
	email = jit.y.31@gmail.com
[core]
	excludesfile = ~/.gitignore_global
	editor = /usr/local/bin/vim
	pager = less -FRSX
[credential]
	helper = gcloud.sh
[pager]
  log = diff-highlight | less
  show = diff-highlight | less
  diff = diff-highlight | less
[alias]
	st = status
	br = branch
	co = checkout
	cm = commit -m
[color]
  branch = auto
  diff = auto
  status = auto
  interactive = auto
  ui = true
  pager = true
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
