[mysql]
prompt = '\\u@\\h\\_(\\R:\\m:\\s)\\_[\\d]>\\_'
default-character-set = utf8
show-warnings
pager = 'less -R'
safe-updates
no-beep

[client]
host = 127.0.0.1

[mysqld]
datadir = /usr/local/var/mysql/
port = 3306
socket = /tmp/mysql.sock
max_connections = 1024
character_set_server = utf8
table_open_cache = 4000
table_definition_cache = 1400
slow_query_log
long_query_time = 3
log_queries_not_using_indexes
