"*":
  "advanced-open-file":
    createDirectories: true
    createFileInstantly: true
  "atom-material-ui":
    colors:
      abaseColor: "#005c53"
    fonts: {}
    tabs:
      compactTabs: true
    treeView:
      compactList: true
    ui:
      animations: false
      panelContrast: true
      panelShadows: true
      useAnimations: false
  "autocomplete-plus": {}
  core:
    audioBeep: false
    disabledPackages: [
      "language-gfm"
    ]
    excludeVcsIgnoredPaths: false
    themes: [
      "one-dark-ui"
      "ariake-dark-syntax"
    ]
  editor:
    fontSize: 10
    invisibles: {}
  "exception-reporting":
    userId: "90e3877a-ba48-e035-0805-0dd531bb8428"
  linter: {}
  "linter-rubocop":
    executablePath: "~/.rbenv/shims/rubocop"
  "linter-ui-default":
    panelHeight: 68
    showPanel: false
  "nord-atom-ui":
    tabSizing: false
  "one-dark-ui":
    fontSize: 12
    tabSizing: "Minimum"
  "seti-ui":
    compactView: true
    disableAnimations: true
    themeColor: "Steel"
  "symbols-tree-view": {}
  "tree-view": {}
  welcome:
    showOnStartup: false
