"*":
  "advanced-open-file":
    createDirectories: true
    createFileInstantly: true
  "autocomplete-plus": {}
  core:
    themes: [
      "one-dark-ui"
      "railscast-theme"
    ]
  editor:
    fontSize: 11
    invisibles: {}
  "exception-reporting":
    userId: "90e3877a-ba48-e035-0805-0dd531bb8428"
  linter:
    showErrorPanel: false
  "linter-rubocop":
    command: "/Users/UG/.rbenv/versions/2.3.0/bin/rubocop"
  "one-dark-ui": {}
  welcome:
    showOnStartup: false
