"*":
  "atom-ctags": {}
  "autocomplete-plus": {}
  core:
    disabledPackages: [
      "symbols-view"
    ]
  editor:
    fontSize: 13
    invisibles: {}
  "exception-reporting":
    userId: "90e3877a-ba48-e035-0805-0dd531bb8428"
  welcome:
    showOnStartup: false
