# Your keymap
#
# Atom keymaps work similarly to style sheets. Just as style sheets use
# selectors to apply styles to elements, Atom keymaps use selectors to associate
# keystrokes with events in specific contexts.
#
# You can create a new keybinding in this file by typing "key" and then hitting
# tab.
#
# Here's an example taken from Atom's built-in keymap:
#
# 'atom-text-editor':
#   'enter': 'editor:newline'
#
# 'atom-workspace':
#   'ctrl-shift-p': 'core:move-up'
#   'ctrl-p': 'core:move-down'
#
# You can find more information about keymaps in these guides:
# * https://atom.io/docs/latest/using-atom-basic-customization#customizing-key-bindings
# * https://atom.io/docs/latest/behind-atom-keymaps-in-depth
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it here:
# https://github.com/bevry/cson#what-is-cson

'.tree-view':
  'ctrl-j': 'tree-view:open-selected-entry'
'.tree-view-dialog atom-text-editor[mini]':
  'ctrl-j': 'core:confirm'
'body':
  'ctrl-x 3': 'pane:split-right-and-copy-active-item'
  'ctrl-x ctrl-3': 'pane:split-right-and-copy-active-item'
  'ctrl-x 2': 'pane:split-down-and-copy-active-item'
  'ctrl-x ctrl-2': 'pane:split-down-and-copy-active-item'
  'ctrl-c ctrl-n': 'window:focus-pane-below'
  'ctrl-c ctrl-p': 'window:focus-pane-above'
  'ctrl-c ctrl-b':  'window:focus-pane-on-left'
  'ctrl-c ctrl-f':  'window:focus-pane-on-right'
  'ctrl-q': 'core:cancel'
  'ctrl-alt-p': 'core:move-to-top'
  'ctrl-alt-n': 'core:move-to-bottom'
'.platform-darwin':
  'ctrl-cmd-r': 'symbols-view:toggle-project-symbols'
  'ctrl-j': 'core:confirm'
'.platform-darwin atom-workspace':
  'alt-cmd-o': 'unset!'
  'ctrl-cmd-o': 'advanced-open-file:toggle'
  'ctrl-x ctrl-f': 'advanced-open-file:toggle'
'atom-text-editor':
  'ctrl-alt-shift-B': 'native!'
  'ctrl-alt-shift-B': 'editor:select-to-first-character-of-line'
  'ctrl-cmd-shift-B': 'editor:select-to-first-character-of-line'
  'ctrl-alt-shift-F': 'native!'
  'ctrl-alt-shift-F': 'editor:select-to-end-of-line'
  'ctrl-cmd-shift-F': 'editor:select-to-end-of-line'
  'ctrl-k': 'native!'
  'ctrl-k': 'editor:delete-to-end-of-line'
