'.tree-view':
  'ctrl-j': 'tree-view:open-selected-entry'
'.tree-view-dialog atom-text-editor[mini]':
  'ctrl-j': 'core:confirm'
  'ctrl-c': 'core:cancel'
'body':
  'ctrl-x 3': 'pane:split-right-and-copy-active-item'
  'ctrl-x ctrl-3': 'pane:split-right-and-copy-active-item'
  'ctrl-x 2': 'pane:split-down-and-copy-active-item'
  'ctrl-x ctrl-2': 'pane:split-down-and-copy-active-item'
  'ctrl-c ctrl-n': 'window:focus-pane-below'
  'ctrl-c ctrl-p': 'window:focus-pane-above'
  'ctrl-c ctrl-b':  'window:focus-pane-on-left'
  'ctrl-c ctrl-f':  'window:focus-pane-on-right'
  'ctrl-q': 'core:cancel'
  'ctrl-alt-p': 'core:move-to-top'
  'ctrl-alt-n': 'core:move-to-bottom'
'.platform-darwin':
  'ctrl-cmd-r': 'symbols-view:toggle-project-symbols'
  'ctrl-j': 'core:confirm'
'.platform-darwin atom-workspace':
  'alt-cmd-o': 'unset!'
  'ctrl-cmd-o': 'advanced-open-file:toggle'
  'ctrl-x ctrl-f': 'advanced-open-file:toggle'
'atom-text-editor':
  'ctrl-k': 'editor:delete-to-end-of-line'
