conf.d
functions/*
fishd.*
!functions/curlb.fish
!functions/peco.fish
!functions/peco_git_checkout.fish
!functions/peco_select_ghq_repo.fish
!functions/peco_source_search.fish
!functions/pero.fish
!functions/chrome.fish
!functions/chrome-canary.fish
!functions/peco_ssh.fish
!functions/rust.fish
